
            </div>
        </div>
        <!-- /mid-col-container -->
        <footer id="footer" class="inner">
            <p>Copyright &copy; 2018-2019 - <a href="{{.options.siteurl}}" title="{{.options.sitename}}">{{.options.sitename}}</a> - <span class="credit">Powered by <a href="https://github/SillentChen">SilentChen</a></span></p>
            Design credit: <a href="https://github/SientChen">MIT LISCENCE</a>
        </footer>
    <script src="/static/themes/default/js/slash.js"></script>
    </div>
<!-- /mid-col -->
</div>
<!-- /container -->
<div style="display:none">
    {{.options.stat}}
</div>
</body>
</html>
<script>
    if (IsPC()) watermark({watermark_txt:"{{.title}}"});
</script>