{{define "app/index/category"}}
{{template "app/layout/header" .}}
<div itemscope itemtype="http://schema.org/Blog">

{{range $year, $row := .list}}
	<section class="archives"><h1 class="year">{{$year}}</h1>
	
	{{range $k, $v := $row}}
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
			<time datetime="{{$v.post_time}}" data-updated="true" itemprop="datePublished">{{date2unix $v.post_time|unix2date}}</time>
			</div>
			<div class="tags"><a href="/act/category?tag={{$v.tags}}">{{str2html $v.tags}}</a></div>
		</div>
		<h1 class="title" itemprop="name">
		<a href="/act/article?aid={{$v.id}}" itemprop="url">{{str2html $v.title}}</a>
		</h1>
	</article>
	{{end}}

{{end}}

</div>

{{end}}