{{define "app/index/index"}}
{{template "app/layout/header" .}}
<div itemscope itemtype="http://schema.org/Blog">
	{{range $k, $v := .list}}
	<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="meta">
			<div class="date">
				<time datetime="{{$v.post_time}}" data-updated="true" itemprop="datePublished">{{date2unix $v.post_time|unix2date}}<span>th</span></time>
			</div>
			<div class="tags">{{str2html $v.tags}}</div>
		</div>
		<h1 class="title" itemprop="name">
			<a href="/act/article?aid={{$v.id}}" itemprop="url">{{str2html $v.title}}1</a>
		</h1>
		<div class="entry-content" itemprop="articleBody">
			{{str2html $v.content}}
		</div>
	</article>
	{{end}}
</div>

<nav id="pagenavi">
	{{str2html .pagebar}}
</nav>
{{end}}